name: PipelineWorkflow

on:
  push:
    branches:
      - main
    pull_request:
      branches:
        - main

jobs:
    build:
        name: Azure Pipeline
        runs-on: ubuntu-latest
        steps:
        - name: Azure Pipelines Action
          uses: Azure/pipelines@v1
          with:
            azure-devops-project-url: https://dev.azure.com/az-devops-joel/AgileProject
            azure-pipeline-name: 'DevOps-1984.appGithubAzDevops'
            azure-devops-token: ${{ secrets.AZURE_DEVOPS_TOKEN }}
